BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
IndentCaseLabels: false
PointerAlignment: Right
DerivePointerAlignment: false
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
SortIncludes: Never
